<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>

<form action="/teams/<%= @team.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />

  <label for="name">Name:</label><br>
  <input id="name" type="text" name="team[name]" value="<%= @team.name %>"><br>

  <label for="city">City:</label><br>
  <input id="city" type="text" name="team[city]" value="<%= @team.city %>"><br><br>

  <input type="submit" value="Update">
</form>
