<form action="/mounts/<%= @mount.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Name:</p>
  <input id='name' type='text' name='mount[name]' value="<%= @mount.name %>"/><br/>
  <input type='submit' value='submit'/>
</form>
