<a href="/">Intro Page</a><a style="padding-left:10px" href="/teams">Team Index</a><a style="padding-left:10px" href="/players">Player Index</a>

<form action="/teams/<%= @team.id %>/players" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Name:</label><br>
  <input id="name" type="text" name="player[name]" value=""><br>

  <label for="age">Age:</label><br>
  <input id="age" type="text" name="player[age]" value=""><br><br>

  <label for="position">Position:</label><br>
  <input id="position" type="text" name="player[position]" value=""><br><br>

  <input type="submit" value="Create">
</form>
