<form action="/heroes/<%= @hero.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='hero[name]' value="<%= @hero.name %>"/><br/>
  <input type='text' type='hero[job]' value="<%= @hero.type %>"/><br/>
  <input type='submit'/>
</form>
