<form action="/heroes/<%= @hero.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <label for="name">Name: </label><br>
  <input id="name" type='text' name='hero[name]' /><br/>
  <p>Alive status:</p>
  <input id='alive' type='text' name='hero[alive]'/><br/>
  <p>level:</p>
  <input id='level' type='integer' name='hero[level]'/><br/>
  <input type='submit' value='submit'/>
</form>
