<form action="/heroes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new hero:</p>
  <input type='text' name='hero[name]'/><br/>
  <input type='submit'/>
</form>
