<form action="/heroes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new hero:</p>
  <input id="name" type="text" name="hero[name]" value=""><br>
  <input type='submit' value="submit"/>
</form>
